---
---
<footer>
  <section>

      © [Año actual] [Tu Nombre]. Todos los derechos reservados.

  </section>
  <section>
    links
  </section>
  <section>
    Stack Tecnológico
  </section>
  <section>Navegación Rápida</section>
  <section>CTA</section>
</footer>
