---
---
<header>
  <h1>l1tesg</h1>
  <nav>
    <a href="#">Proyectos</a>
    <a href="#">Sobre mí</a>
    <a href="#">Habilidades</a>
    <a href="#">Contacto</a>
  </nav>
  <section>
    <button>
      escribeme
    </button>
  </section>
  <section>
    <button>perfil</button>
  </section>
</header>
