---
---
<header>
  <img src="" alt="logo">
  <nav>
    <a href="#">Proyectos</a>
    <a href="#">Sobre mí</a>
    <a href="#">Habilidades</a>
    <a href="#">Contacto</a>
  </nav>
  <section>
    <button>
      escribeme
    </button>
  </section>
  <section>
    <button>
      diurno o oscuro
    </button>
    <section>
      <p>iconos</p>
    </section>
  </section>
</header>
